<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Royale Time</a>
    <form class="form-inline">
        <div class="d-flex">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </div>
    </form>
    <button class="btn btn-link nav-link" [routerLink]="['/panier']">
        <img src="assets/panier.jpg" alt="Panier" width="24"> Panier
      </button>

      <button class="btn btn-link nav-link" [routerLink]="['/suivi-livraison']">
        <img src="assets/livraison.png" alt="Suivi" width="24"> Suivre ma livraison
      </button>
  </nav>
  