.produits {
    padding: 2rem;
    text-align: center;
    color: #fff;
  }
  
  .produit-card {
    display: inline-block;
    width: 250px;
    margin: 1rem;
    padding: 1rem;
    background-color: #3b0066;
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 10px rgba(212, 175, 55, 0.3);
  }
  
  .produit-card img {
    width: 100%;
    border-radius: 8px;
  }
  .add-to-cart-btn {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-to-cart-btn:hover {
    background-color: #444;
  }
  
  .panier-icon {
    width: 20px;
    height: 20px;
  }
  
  